{#
/**
 * Section : Testimonial
 *
 */
#}

{% import "macros.twig" as macros %}

<div class="l-container --medium --h-padding">
  <h1>Dans le template</h1>
  <h2>{{ fields.title }}</h2>
  <p>{{ fields.text }}</p>
</div>

